<!DOCTYPE html>
<html lang="en">
  <head>
    <title>T4BL Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/favicon.svg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq1.css" rel="stylesheet" />
      <div class="faq1faq7 thq-section-padding">
        <div class="faq1-max-width thq-section-max-width">
          <div class="thq-flex-column">
            <h2 class="thq-heading-2">
              <fragment class="faq1-fragment18">
                <span class="faq1-text23">FAQs</span>
              </fragment>
            </h2>
          </div>
          <div class="thq-flex-column faq1-list">
            <div class="faq1-list-item1">
              <p class="faq1-faq1-question thq-body-large">
                <fragment class="faq1-fragment12">
                  <span class="faq1-text15">
                    What is the focus of the research on Black people designing
                    technology?
                  </span>
                </fragment>
              </p>
              <span class="thq-body-small">
                <fragment class="faq1-fragment19">
                  <span class="faq1-text24">
                    The research focuses on understanding how Black people
                    design technology for their lived experiences.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="faq1-list-item2">
              <p class="faq1-faq2-question thq-body-large">
                <fragment class="faq1-fragment21">
                  <span class="faq1-text26">
                    What methodology does the research team use?
                  </span>
                </fragment>
              </p>
              <span class="thq-body-small">
                <fragment class="faq1-fragment20">
                  <span class="faq1-text25">
                    The research team uses a mixed methodology approach to study
                    motivations, impact, and opportunities for support in
                    building resources and tools.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="faq1-list-item3">
              <p class="faq1-faq3-question thq-body-large">
                <fragment class="faq1-fragment15">
                  <span class="faq1-text18">
                    What information is available on the website?
                  </span>
                </fragment>
              </p>
              <span class="thq-body-small">
                <fragment class="faq1-fragment14">
                  <span class="faq1-text17">
                    The website includes information about featured
                    technologists, resources, features, pricing, team, blog,
                    login, and register.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="faq1-list-item4">
              <p class="faq1-faq4-question thq-body-large">
                <fragment class="faq1-fragment13">
                  <span class="faq1-text16">
                    Who are the featured technologists on the website?
                  </span>
                </fragment>
              </p>
              <span class="thq-body-small">
                <fragment class="faq1-fragment10">
                  <span class="faq1-text13">
                    The website showcases Black technologists who design
                    technology for their lived experiences.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="faq1-list-item5"></div>
          </div>
          <div class="thq-flex-column">
            <div class="faq1-content2">
              <h2 class="thq-heading-2">
                <fragment class="faq1-fragment17">
                  <span class="faq1-text22">Still have a question?</span>
                </fragment>
              </h2>
              <p class="faq1-text12 thq-body-large">
                <fragment class="faq1-fragment16">
                  <span class="faq1-text19">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </span>
                    <span></span>
                  </span>
                </fragment>
              </p>
            </div>
            <div class="faq1-container">
              <button class="thq-button-outline faq1-button">
                <span class="thq-body-small">
                  <fragment class="faq1-fragment11">
                    <span class="faq1-text14">Contact</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
